<app-navbar></app-navbar>
<div class="wrapper">
    <br><br><br><br>
    <div class="page-header">
        <div class="content-center">
            <div class="container">
                <div class="title-brand" style="color: black;">
                    <div class="angular-logo">
                        <img src="assets/img/logo.png" alt="">
                    </div>
                    <h3>Facilitar el acceso a servicios de salud mediante una plataforma digital que
                        conecta a la comunidad con información confiable y oportuna.</h3>
                    <br><br><br><br><br><br><br>
                </div>
            </div>
        </div>

        <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="">
        </div>
        <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="">
        </div>
    </div>
    <div class="main">
        <app-nosotros></app-nosotros>
        <app-contacto></app-contacto>
        <app-servicios></app-servicios>
    </div>

    <br><br><br><br><b><br><br></b>
    <app-footer></app-footer>