
<nav class="navbar-custom">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="logo-container">
                <div class="angular-logo">
                    <img src="assets/img/logo.png" alt="" style=" width: 150px;">
                </div></div>
                <ul class="nav-menu d-none d-lg-flex pr-0 mr-0">
                    <li><a [routerLink]="['/landing/inicio']"  (click)="activenav(1)"  class="{{inicio}}">Inicio</a></li>
                    <li><a [routerLink]="['/landing/servicios']"  (click)="activenav(2)" class="{{servicios}}">Servicios</a></li>
                    <li><a [routerLink]="['/landing/campana']"  (click)="activenav(3)" class="{{campana}}">Campañas</a></li>
                    <li><a [routerLink]="['/landing/reportes']" (click)="activenav(5)" class="{{reportes}}">Reportes</a></li>
                    <li><a [routerLink]="['/landing/analitica'] " (click)="activenav(4)" class="{{analitica}}">Administración</a></li>
                    <li><a href="#">Cerrar sesión</a></li>
                </ul>
            
        </div>
    </div>
</nav>